local.build.properties
env-local*.properties
buildTemp
tools/build/package.xml
/tools/build/dependencies
/target
**/ApexUnitReport.*
.DS_Store
.classpath
.sfdx
.project
.salesforce
node_modules
.idea
.settings
test/artifacts
*.log
*.lck
fflib-common/*.*
fflib-mocks/*.*
#src/package.xml
config
*-app
sfdx-workspace.json
.forceignore
src/.forceignore
sfdx-project.json